#greeting{
    text-align:center;
}

nav a {
    text-decoration:none;
}

@font-face{
    font-family: "Caveat";
    src: url('https://fonts.googleapis.com/css2?family=Caveat&display=swap')
}

h1, h2, h3{
    font-family: "Caveat", cursive;
}

*{
    font-family: "Calibri", sans-serif;
}